doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title iTutor-Mother Teresa
    link(rel="icon" href="../itutor/iTutor.ico" type='image/x-icon')
    link(rel="stylesheet" href="stylesheets/frameworks/bootstrap.min.css")
    link(rel="stylesheet" href="stylesheets/frameworks/font-awesome.min.css")
    link(rel="stylesheet" href="stylesheets/itutor/style.css")
    script(src="javascripts/frameworks/jquery.min.js")
    script(src="javascripts/frameworks/bootstrap.min.js")
  body
    //- div #{answers}
    #paragraphs
      .container
        .panel.panel-info(style="width: 1000px;")
          .panel-heading(style="color:darkslategrey")
            | Click on the error in the blue text. Then type the correct words in the input field
      .container
        .panel.panel-default(style="width: 1000px; padding: 0px 30px 41px 30px;")
          h1.panel.panel-info(style="width:260px; padding-left:30px; background-color:rgb(191, 211, 204);") A biography
          p#p1.p
            | Mother Teresa was a missionery 
            span#1.keys when
            |  worked among the poor people of Calcutta, India.
          p#p2.p
            | She 
            span#2.keys born
            |  in Macedonia on 26 August 1910. Her father who was Albanian died when she was just eight years old.
          p#p3.p
            | Her mother 
            span#3.keys left
            |  alone to bring up the family.
          p#p4.p
            | Agnes left home in September 1928. She had wanted 
            span#4.keys becoming
            |  a missionary from a very young age, so she joined a convent in Ireland.
          p#p5.p
            | She was given the name Teresa, and in 1929 she was sent to St Mary's High School Convent in Calcutta, 
            span#5.keys which
            |  she worked as a teacher.
          p#p6.p
            | She 
            span#6.keys still was
            |  working there in 1937, as Mother Teresa.
      #image
        img#teresa.img-circle(src="/images/itutor/4.jpg")
        pre#caption.text-info Mother Teresa
      #inputs
        input#guess.input(type="text" placeholder="Type the correct word")
        #wrong
        button#checker.btn(type="submit") Check Answer
      #result
    // Modal content
    .container
      button#myBtn.btn.btn-primary.btn-lg(type="button" style="display:none;") Open Modal
      #myModal.modal.fade(role="dialog")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type="button" data-dismiss="modal") ×
              h2.modal-title iTUTOR says
            .modal-body
              p(style="color:'#449d44';") Congratulation. You have finished.
            .modal-footer
              button.btn.btn-default(type="button" onclick="ClaerBlur()" data-dismiss="modal") Close
    footer#footer
      span.fa.fa-spin
        img(src="images/itutor/iTutor.ico" width="16px" height="16px")
      span iTutor

    script(src="javascripts/itutor/lib.js")
    script(src="javascripts/itutor/paragraph.js")
    script(src="javascripts/itutor/ks.js")
    script(src="javascripts/itutor/app_ui.js")
    script(src="javascripts/itutor/apps/app_teresa.js")
